:root {
    --darkpurple: #221153;
    --red: #DB1F48;
    --lightgray: #F6F6F6;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', Arial, sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
}

/*
Mobile first
*/


/* 
For tablets and wider
*/

@media screen and (min-width: 768px) {
    /* social media icons */
    .social-icons-container {
        float: right;
        position: sticky;
        top: 40%;
        margin-right: 10px;
    }

    .social-icons-backgrounds {
        background-color: var(--lightgray);
        width: 60px;
        height: 60px;
        border-radius: 9999px;
        padding: 10px;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .social-icons {
        fill: var(--darkpurple)
    }

    .social-icons:hover {
        box-shadow: 0 0 20px var(--lightgray);
    }

    /* 
        Main landing area
    */

    .above-the-fold {
        background-color: var(--darkpurple);
        height: 100vh;
    }

    /* Nav section */
    .nav-bar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        justify-content: flex-start;
        align-items: center;
        margin-left: 10rem;
    }

    .nav-links {
        color: var(--lightgray);
        font-size: 1.5rem;
        font-weight: 500;
        text-decoration: none;
        padding: 50px 5px 20px 30px;
    }

    .nav-links:hover {
        font-weight: 700;
        text-shadow: 0 0 5px var(--lightgray);
    }

    .personal-logo {
        width: 60px;
        height: 60px;
        fill: var(--lightgray);
        margin-left: auto;
    }

    /* ATF Content */

    .red-frame-container {
        display: flex;
        width: calc(100vmax/2);
        height: calc(100vmin/1.45);
        border: 7px solid var(--red);
        margin-left: 10rem;
    }

    .greeting {
        margin: auto 5rem;
        color: var(--lightgray);
    }

    .greeting h1 {
        font-size: 3rem;
    }

    .greeting p {
        font-size: 1.5rem;
    }

    .learn-more-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--lightgray);
        font-size: 1.5rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .chevron-icon {
        width: 50px;
        height: 50px;
        border-radius: 9999px;
        fill: var(--lightgray);
    }

    .chevron-icon:hover {
        box-shadow: 0 0 5px var(--lightgray);
    }

    /* The fold / center area */

    .the-fold {
        height: 98vh;
    }

    .red-blocks {
        height: 10%;
        background-color: var(--red);
    }

    .what-i-do {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 80%;
    }

    .what-i-do-blocks {
        border: 1px solid var(--darkpurple);
        border-top: none;
        border-top-left-radius: 19px;
        width: calc(100vw/6);
        text-align: center;
        margin: 3.5rem 0;
    }

    .what-i-do-blocks h2 {
        color: var(--lightgray);
        background-color: var(--darkpurple);
        border: 1px solid var(--darkpurple);
        font-size: 1.8rem;
        padding: 1rem 0;
    }

    .front-end h2 {
        border-top-left-radius: 19px;
        border-right: none;
    }
}